.addleadcontent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.wrapper form {
    padding: 5px 20px;
    position:absolute;
    
}

.wrapper fieldset {
    margin: 20px ;
    float: right;
}
.input{
    margin: 5px;
    float:right;
}
.label{
    margin: 5px;
}