.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
  }
  
  .signup-card {
    width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
  }
  
  .signup-card h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .signup-form {
    display: table;
    width: 100%;
    border-spacing: 0;
  }
  
  .form-group {
    display: table-row;
  }
  
  .form-group:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  
  .signup-form label {
    display: table-cell;
    font-size: 1.2rem;
    font-weight: bold;
    padding-right: 1rem;
    vertical-align: middle;
  }
  
  .signup-form input,
  .signup-form select {
    display: table-cell;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    vertical-align: middle;
  }
  
  .signup-form input:focus,
  .signup-form select:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }
  
  .signup-form button {
    background-color: rgb(48, 45, 45);;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 1rem;
    align-self: flex-end;
  }
  
  .signup-form button:hover,
  .signup-form button:focus {
    background-color: #1c1a1a;
    outline: none;
  }
  
  .signup-form button:active {
    transform: scale(0.95);
  }
  